import java.time.*
Date now = new Date()

manifest {
  name = 'Nextflow on UCL cluster (SGE)'
  homePage = 'https://github.com/McGranahanLab/Wiki'
  description = 'Example of nextflow pipeline to run on UCL cluster (under SGE) with singularity containers'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.09.0-edge'
  version = '1.0.0'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind ${PWD}"
}

params {
    /* Defaults */
    assets = "${PWD}/_assets"

    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    today = now.format("yyyyMMdd")
    tracedir = "pipeline_info"
}

process {
    cache = 'lenient'
    errorStrategy = 'finish'
}

profiles {
    ucl { includeConfig 'conf/ucl.conf' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
